{% extends 'base.html'%}

{% block content%}
    

<div class="home-container">
    <div>
         {% include 'navbar.html' %}
    </div>
    <div>
        {% if tasks %}
            <h4>TÂCHES TERMINÉES</h4><br>
            {% for task in tasks %}
                <li>{{task}}</li>
                <p>créée il y a {{task.created|timesince}}</p>
                {% include 'functionMenu.html' %}
                <hr>
            {%endfor%}
        {%else%}

            <p>AUCUNE TÂCHE TERMINÉE POUR LE MOMENT</p>

        {%endif%}
    </div>
</div>
{% endblock %}