{% include 'header.html' %}

<div class="home-container">
    <div>
         {% include 'navbar.html' %}
    </div>
    <div>
        {% if tasks %}
            <h4>Tâches non terminées</h4><br>
            {% for task in tasks %}
                <li>{{task}}</li>
                <p>créée il y a {{task.created|timesince}}</p>
                <a href="{% url 'updateTask' task.id %}">Modifier</a>
                <a href="{% url 'deleteTask' task.id %}">Supprimer</a>
                <hr>
            {%endfor%}
        {%else%}

            <p>AUCUNE TÂCHE POUR LE MOMENT</p>

        {%endif%}
    </div>
</div>