{% include 'header.html' %}

<div class="home-container">
    <div>
         {% include 'navbar.html' %}
    </div>
    <div>
        {% if tasks %}
            <h4>TÂCHES INACHEVÉES</h4><br>
            {% for task in tasks %}
                <li>{{task}}</li>
                <p>créée il y a {{task.created|timesince}}</p>
                {% include 'functionMenu.html' %}
                <form action="{% url 'isCompleted' task.id %}" method="POST">
                    {% csrf_token %}
                    <label for="completed">Tâche terminée?</label>
                    <input type="checkbox" name="completed" >
                    <input type="submit" value="Valider">
                </form>             
                <hr>
            {%endfor%}
        {%else%}

            <p>AUCUNE TÂCHE ENCOURS POUR LE MOMENT</p>

        {%endif%}
    </div>
</div>