{% extends 'base.html' %}
{% load static %}
{% block header %}



{% endblock %}

{% block nav %}

{% include 'navbar.html' %}

{% endblock %}
{% block content %}

<div class="main-container" style="padding-bottom: 30px;">
  <div class="form-overlay"></div>
<form method="POST" id="icm-form">
  {% csrf_token %}
    <span class="title">Mon ICM</span>
    <div class="text-field">
        <input type="text" name="poids" id ="poids" required maxlength="6" placeholder="Exemple: 70.00 ; 03,56 ; 103,30 (en Kg)">
        <label for="age">Poids</label>
    </div>
    <div class="text-field">
        <input type="text" name="taille" id="taille" required maxlength="5" placeholder="Exemple: 12.00 ; 03,56 ; 23,30 en (m)">
        <label for="taille">Taille</label>
    </div>
      <input type="submit" value="Calculer">
  </form>
  <!-- End of the form -->
 </div>

<script src="{% static '/css/jquery-3.6.0.min.js' %}">


  </script>

 <!--  <script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
    crossorigin="anonymous"></script> -->
  <script type="text/javascript">
    $(document).on('submit','#icm-form',function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'{% url "calc" %}',
        data:
          {
            poids:$("#poids").val(),
            taille:$("#taille").val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success:function(){
            alert('{{ imc }}\nVotre IMC a été envoyé par mail et sur Whatsapp');
          }
      })
        });
  </script>

{% if messages %} 
<div class="error-message">
  {% for message in messages %} 
    <li><strong>{{ message|escape }}</strong></li>
  {% endfor %}
  </div>
{% endif %}

{% endblock %}