{% extends 'base.html' %}

{% block nav %}

{% include 'navbar.html' %}

{% endblock %}

{% block content %}
<div class="main-container">
    <div class="form-overlay"></div>
<form method="POST" action="">
  {% csrf_token %}
    <span class="title">Connexion</span>
    <div class="text-field">
        {{form.email}}
        {{form.email.label_tag}}
    </div>
    <div class="text-field">
        {{form.password1}}
        {{form.password1.label_tag}}
    </div>
      <input type="submit" value="Se connecter">
      <div class="login-link">
      <span>Vous n'avez pas de compte? <a href="{% url 'signup' %}">Créer un compte</a></span>
</div>
     <!--  <p>Already have an account? <a href="{% url 'signin' %}">Login</a></p> -->
  </form>
</div>
{% if message %} 
<div class="error-message">
          <li><strong>{{ message|escape }}</strong></li>
</div>
{% endif %}
{% endblock %}