{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="main-container">
    <form action="" method="POST">
      {% csrf_token %}
      <span class="title-register">Créer un compte</span>
      <div class="text-field">
        {{patient_form.name}}
        {{patient_form.name.label_tag}}
      </div>

      <div class="text-field">
        {{form.email}}
        {{form.email.label_tag}}
      </div>

      <div class="text-field">
        {{patient_form.tel_number}}
        {{patient_form.tel_number.label_tag}}
      </div>

      <div class="text-field">
        {{patient_form.city}}
        {{patient_form.city.label_tag}}
      </div>

      <div class="text-field">
        <input type="text" name="age" id="">
        <label for="age">Age</label>
      </div>

      <div class="text-field">
        <input type="text" name="taille" id="">
        <label for="taille">Taille</label>
      </div>
      
      <div class="text-field">
        {{form.password1}}
        {{form.password1.label_tag}}
      </div>

      <div class="text-field">
        <{{form.password2}}
        {{form.password2.label_tag}}
      </div>
      <input type="submit" value="S'enregistrer">
      <div class="login-link">
        <span>Vous avez déjà un compte? <a href="#">Connectez-vous</a></span>
      </div>
  </form>
  </div>

{% if form.errors or patient_form.errors %}
<div class="error-message">
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %} 
          <li><strong>{{ error|escape }}</strong></li>
  
      {% endfor %}
    {% endfor %}
  {% endif %}
  {% if patient_form.errors %}
    {% for field in patient_form %}
      {% for error in field.errors %} 
          <li><strong>{{ error|escape }}</strong></li>
  
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>
{% endif %}

{% endblock %}
 