
<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agent Orange</title>
</head>
<body>
  <style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    #logo {
        font-size: 30px;
        color:orange
    }
    #logo a{
      text-decoration: none;
      text-transform: uppercase;
      transition: color .5s;
    }
    #logo a:visited, #logo a:link{
      color: inherit;
    }
    #logo a:hover{
      color: rgb(163, 118, 33)
    }
</style>
  {% block content %}


  {% endblock %}

</body>
</html>