{% load static %}
<link rel="stylesheet" href="{% static '/css/addclient.css' %}">
<div class="center">
<form method="POST" action="">
  {% csrf_token %}
    <h3> NOUVEAU CLIENT</h3>
      <div class="text-field">
        {{form.name}}
        <span></span>
        <label for="">Nom du client</label>
      </div>
      <div class="text-field">
        {{form.num_cni}}
        <span></span>
        <label for="">Numéro de CNI du client</label>
      </div>
      <div class="text-field">
        {{form.city}}
        <span></span>
        <label for="">Ville</label>
      </div>
      <input type="submit" value="Enregistrer">
      <div class="login-link">
        <a href="{% url 'dashboard' %}">Tableau de bord</a>
      </div>
  </form>
</div>
  {% if form.errors %}
<div class="error-message">
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %} 
          <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>
{% endif %}


