{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/login_agent.css' %}">
<div class="center">
<form method="POST" action="">
  {% csrf_token %}
    <h3>CONNEXION</h3>
      <div class="text-field">
        <input type="text" name="username" required>
        <span></span>
        <label for="">Nom d'utilisateur</label>
      </div>
      <div class="text-field">
        <input type="password" name="password" required>
        <span></span>
        <label for="">Mot de passe</label>
      </div>
      <input type="submit" value="Connexion">
      <div class="login-link">
        <strong> Pas encore enregistrer? <a href="{% url 'signup' %}">S'enregistrer</a></strong>
      </div>
     <!--  <p>Already have an account? <a href="{% url 'signin' %}">Login</a></p> -->
  </form>
</div>
{% if message %} 
<div class="error-message">
          <li><strong>{{ message|escape }}</strong></li>
</div>
{% endif %}
{% endblock %}