{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register_agent.css' %}">
<div class="center">
<form method="POST" action="">
  {% csrf_token %}
    <h3>NOUVEL AGENT</h3>

      <div class="text-field">
        {{form.username}}
        <span></span>
        {{form.username.label_tag}}
      </div>
                   
      <div class="text-field">
        {{form.password1.errors}}
        {{form.password1}}
        <span></span>
        {{form.password1.label_tag}}
      </div>
      <div class="text-field">
        {{form.password2}}
        <span></span>
        {{form.password2.label_tag}}
      </div>    
      <div class="text-field">
        {{agent_form.name}}
        <span></span>
        {{agent_form.name.label_tag}}
      </div>
      <div class="text-field">
        {{agent_form.age}}
        <span></span>
        {{agent_form.age.label_tag}}
      </div>
      <div class="text-field line">
        {{agent_form.country}}
        <span></span>
        {{agent_form.country.label_tag}}
      </div>
      <div class="text-field">
        {{agent_form.num_cni}}
        <span></span>
        {{agent_form.num_cni.label_tag}}
      </div>
      
      <input type="submit" value="S'enregistrer">
      <div class="login-link">
        <strong> Déjà enregistrer? <a href="{% url 'signin' %}">Connectez-vous</a></strong>
        
      </div>
     <!--  <p>Already have an account? <a href="{% url 'signin' %}">Login</a></p> -->
  </form>
</div>

{% if form.errors or agent_form.errors %}
<div class="error-message">
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %} 
          <li><strong>{{ error|escape }}</strong></li>
  
      {% endfor %}
    {% endfor %}
  {% endif %}
  {% if agent_form.errors %}
    {% for field in agent_form %}
      {% for error in field.errors %} 
          <li><strong>{{ error|escape }}</strong></li>
  
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>
{% endif %}

{% endblock %}
 